<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77975660188-jl4l8u0k8m08v7dr0mli3mo067dep5p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77975660188-jl4l8u0k8m08v7dr0mli3mo067dep5p5</string>
	<key>API_KEY</key>
	<string>AIzaSyDIf8K3nwPphBmriNfRxCjDCRY44nZin5M</string>
	<key>GCM_SENDER_ID</key>
	<string>77975660188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ilearnProject</string>
	<key>PROJECT_ID</key>
	<string>ilearn-app-6b0b7</string>
	<key>STORAGE_BUCKET</key>
	<string>ilearn-app-6b0b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77975660188:ios:d73da6207d55725f992f59</string>
	<key>DATABASE_URL</key>
	<string>https://ilearn-app-6b0b7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>